
// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';


html, body {
  font-family: 'Nunito', sans-serif;
  height: 100vh;
  margin: 0;
}

h2{
    color: $grey1;
}

h2:hover{
    color: $grey2;
}

.non-decorated:focus,
.non-decorated:hover {
    color: inherit;
    text-decoration: none;
    border: 0;
}

a:focus,
a:hover {
    color: inherit;
    text-decoration: none;
    border: 0;
}

button{
  border-radius: 5px;
}
